<div class="row ">
    <div class="card text-center mx-auto p-2 m-2">
        <div class="card-header text-white bg-primary">
            Register
          </div>
          <div class="card-body">
            <div class="form-group row">
                <label for="txtusrname"class="col-sm-4">UserName</label>
                <div class="col-sm-8">
                    <input type="text" [(ngModel)]="register.employeeName"id="txtusrname" placeholder="Enter UserName"class="form-control"/>
                </div>
    </div>
    <div class="form-group row">
        <label for="txtusremail"class="col-sm-4">UserEmail</label>
        <div class="col-sm-8">
            <input type="email"[(ngModel)]="register.registerEmail" id="txtusremail" placeholder="Enter UserEmail"class="form-control"/>
        </div>
</div>
<div class="form-group row">
    <label for="txtusrpwd"class="col-sm-4">UserPassword</label>
    <div class="col-sm-8">
        <input type="password"[(ngModel)]="register.registerPassword" id="txtusrpwd" placeholder="Enter UserPassword"class="form-control"/>
    </div>
</div>
<div class="card-footer text-muted bg-info">

    <button class="btn bg-info text-center"(click)="RegisterClick()">Register</button>
    </div>

            Already have an account? <a routerLink="/login">Login here</a>
          </div>
        </div>
    </div>
   
    
  